---
layout: page
# The photos related to my life and travel
---

{% include lang.html %}
<style>
  .subtitle {
    font-size: 150%;
    color: var(--sidebar-muted-color);
    margin-top: 0.25rem;
    word-spacing: 1px;
  }

  .hr-twill {
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
  }

</style>

<blockquote>We're all travelling through time together every day of our lives. All we can do is do our best to relish this remarkable ride.<br>我们生命中的每一天都是在时间中的旅行，我们所能做的就是尽我们所能，珍惜这段美妙的旅程。<br> ——<i>About Time</i></blockquote>

<div class="subtitle">Here are some photos related to my life or travels.</div>

&bull;&nbsp;<a href="#My Pet">My Pet</a>
<br>
&bull;&nbsp;<a href="#Travel in Norway">Travel in Norway</a>
<br>
&bull;&nbsp;<a href="#Travel in France">Travel in France</a>
<br>
&bull;&nbsp;<a href="#Travel in Thailand">Travel in Thailand</a>
<br>
&bull;&nbsp;<a href="#Travel in Japan">Travel in Japan</a>
<br>
&bull;&nbsp;<a href="#Travel in Finland">Travel in Finland</a>
<br>
&bull;&nbsp;<a href="#Travel in Singapore">Travel in Singapore</a>
<br>
&bull;&nbsp;<a href="#Life in U.K.">Life in U.K.</a>
<br>
&bull;&nbsp;<a href="#Life in China">Life in China</a>
<br>


<hr class="hr-twill">
<h2 id="My Pet">My Pet</h2>
<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/cat.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/cat.jpg"
          alt="My cat"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/cat.html">My cat</a>
          <p>This is my pet cat. Its name is "yu wan". The name means fish ball in Chinese. It's fat and cute. That's
            the cat in my profile picture.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in Norway">Travel in Norway</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Bergen.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Bergen.avif"
          alt="Norway"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Bergen.html">Bergen</a>
          <p>My trip to Bergen. Surrounded by seven hills and seven fjords, Bergen is a beguiling city. And Easy access
            to nature means you're minutes away from complete tranquillity.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Voss.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Voss.avif"
          alt="Norway"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Voss.html">Voss</a>
          <p>My trip to Voss. I experienced the beauty of the fjord in depth here. Sitting on a boat surrounded by waterfalls,
            sea, gorges, forests and snowy mountains is a unique feeling.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Oslo.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Oslo.avif"
          alt="Norway"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Oslo.html">Oslo</a>
          <p>My trip to Oslo. This is the capital of Norway. I was shocked by the beautiful streetscapes and the high prices.
            Surrounded by mountains and sea, this compact, cultured and fun city has a palpable sense of reinvention.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in France">Travel in France</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Paris.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Paris.png"
          alt="France"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Paris.html">Paris</a>
          <p>My trip to Paris. It's during Christmas. I visited the Eiffel Tower, the Louvre, the
            Arc de Triomphe and other places. It's a charming city, full of art.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in Thailand">Travel in Thailand</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Phuket.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Phuket.jpg"
          alt="Thailand"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Phuket.html">Phuket</a>
          <p>My trip to Phuket. I went to Patong Beach, Similan Island, Cat Island and other
            places. And I did my first underwater dive on Emperor Island.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Bangkok.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Bangkok.jpg"
          alt="Thailand"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Bangkok.html">Bangkok</a>
          <p>My trip to Bangkok. I went to the Grand Palace, the zoo, the
            Reclining Buddha Temple and other places. And watched Thai opera.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in Japan">Travel in Japan</h2>
<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Osaka.html" class="gall_item"><img
          src="https://i.postimg.cc/nLJLXxG2/2019-06-12-21-51-IMG-3421.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Osaka.html">Osaka</a>
          <p>My trip to Osaka. If Kyoto was the city of the courtly nobility
            and Tokyo the city of the samurai, then Osaka was the city of the merchant class.</p>
        </div>
      </div>
    </div>
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Nara.html" class="gall_item"><img
          src="https://i.postimg.cc/d0y8YJt9/2019-06-13-14-17-IMG-3600.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Nara.html">Nara</a>
          <p>My trip to Nara. It's a lively city and I love the deer here.
            I have never been to a city with so many animals, which makes the city like a huge park.</p>
        </div>
      </div>
    </div>
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Kyoto.html" class="gall_item"><img
          src="https://i.postimg.cc/nr75jykK/2019-06-15-12-22-IMG-3768.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Kyoto.html">Kyoto</a>
          <p>My trip to Kyoto. Kyoto is the epitome of old Japan: atmospheric temples, sublime gardens,
            and women in Kimono.</p>
        </div>
      </div>
    </div>
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Tokyo.html" class="gall_item"><img
          src="https://i.postimg.cc/kgFmhbWN/2019-06-15-18-02-IMG-3822.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Tokyo.html">Tokyo</a>
          <p>My trip to Tokyo. Yoking past and future,
            Tokyo dazzles with its traditional culture and passion for everything new.</p>
        </div>
      </div>
    </div>
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Fuji.html" class="gall_item"><img
          src="https://i.postimg.cc/s2wTMjRC/2019-06-17-15-03-IMG-4179.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Fuji.html">Fuji</a>
          <p>My trip to Fuji. Of all Japan's iconic images, Mt Fuji (3776m) is the real deal.
            That night I stayed in a local folk house and experienced the local customs.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in Finland">Travel in Finland</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Helsinki.html" class="gall_item"><img
          src="https://i.postimg.cc/NFmhrdrS/IMG-3144.jpg"
          alt="Finland"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Helsinki.html">Helsinki</a>
          <p>My trip to Helsinki. I tried my first winter swim here. It's the capital of Finland, but I feel so peaceful here. Sparse crowds
            and tranquillity were my first impressions of Finland.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Tampere.html" class="gall_item"><img
          src="https://i.postimg.cc/FFnLHD9G/IMG-3168.jpg"
          alt="Finland"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Tampere.html">Tampere</a>
          <p>My trip to Tampere. My friend lives and works here. I'm here to visit him. I tried skiing
            and dog sledding for the first time here. Honestly, dogs are cute but I don't like skiing.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Travel in Singapore">Travel in Singapore</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Singapore.html" class="gall_item"><img
          src="{{site.url}}{{site.baseurl}}/assets/img/gallery/Singapore/15dfa0da709264ef8406f720337264ae.jpg"
          alt="Singapore"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Singapore.html">Singapore</a>
          <p>My trip to Singapore. Singapore is a vibrant city-state known for its modern architecture, diverse culture, and delicious food. I visited iconic landmarks like Marina Bay Sands, Gardens by the Bay, and Sentosa Island.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Life in U.K.">Life in U.K.</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Southampton.html" class="gall_item"><img
          src="https://i.postimg.cc/bNrXQ1Jn/IMG-0352.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Southampton.html">Southampton</a>
          <p>My life in Southampton. Southampton is a beautiful harbour city. I live here for my master's degree.
            I've made new friends from all over the world here.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Cambridge.html" class="gall_item"><img
          src="https://i.postimg.cc/pTJCSc0d/IMG-0387.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Cambridge.html">Cambridge</a>
          <p>My trip to Cambridge. Cambridge is a separate city with distinguished universities, a host of
            historic sites, and artistic and cultural attractions galore.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/London.html" class="gall_item"><img
          src="https://i.postimg.cc/LsJJw3hf/IMG-2046.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/London.html">London</a>
          <p>My trip to London. Instantly recognisable icons like Big Ben and St. Paul's Cathedral welcome you to London.
            London is definitely one of my favourite cities. It always surprises me when I walk in London.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Edinburgh.html" class="gall_item"><img
          src="https://i.postimg.cc/T3j3LNFT/IMG-1644.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Edinburgh.html">Edinburgh</a>
          <p>My trip to Edinburgh. Edinburgh is a city that begs to be explored, filled with quirky nooks and beautiful views.
            The city is surrounded by sea and mountains and is full of impressive and beautiful buildings.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Glasgow.html" class="gall_item"><img
          src="https://i.postimg.cc/CLgQmvdZ/IMG-1793.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Glasgow.html">Glasgow</a>
          <p>My trip to Glasgow. Glasgow is the largest city in Scotland. Over continuous development,
            it has grown to become one of the most intriguing metropolises in the UK.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Eastbourne.html" class="gall_item"><img
          src="https://i.postimg.cc/GtJpGGhV/IMG-1057.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Eastbourne.html">Seven Sisters Cliffs</a>
          <p>My trip to Seven Sisters Cliffs. I went to Seven Sisters Cliffs near Eastbourne. It's a pretty beautiful place.
            We were lucky with the weather. But long walks do get tiring.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Brockenhurst.html" class="gall_item"><img
          src="https://i.postimg.cc/GpYs7BM3/IMG-0782.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Brockenhurst.html">Brockenhurst</a>
          <p>My trip to Brockenhurst. There's a big new forest park near Brockenhurst. There's a lot of wildlife in the forest.
            I took a walk in the forest and enjoyed the beauty of nature.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Weymouth.html" class="gall_item"><img
          src="https://i.postimg.cc/tgW7pKG9/IMG-1123.jpg"
          alt="def"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Weymouth.html">Weymouth</a>
          <p>My trip to Weymouth. This is a trip organised by the university.
            Famous British food for lunch: Fish＆Chips. But I must say British food really isn't very good. ：）</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="hr-twill">
<h2 id="Life in China">Life in China</h2>

<section>
  <div class="row_grl">
    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Yuncheng.html" class="gall_item"><img
          src="https://i.postimg.cc/SxJ4PVNP/IMG-2567.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Yuncheng.html">Yuncheng</a>
          <p>My life in Yuncheng. I was born and raised there. Many photos were taken nearly a decade ago. Although they are blurred,
            they are undoubtedly the most valuable treasure of my photos.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Xi'an.html" class="gall_item"><img
          src="https://i.postimg.cc/HkXmHnX0/IMG-7615.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Xi'an.html">Xi'an</a>
          <p>My life in Xi'an. I've been living in Xi'an for almost 8 years, and this is a collection of photos from
            my time in Xi'an between 2015 and 2018, mostly from my university days.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Xi'an.html" class="gall_item"><img
          src="https://i.postimg.cc/wMKzhpKy/20220405-193606.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Xi'an2.html">Xi'an</a>
          <p>My life in Xi'an. I've been living in Xi'an for almost 8 years, and this is a collection of photos from
            my time in Xi'an between 2018 and 2023, mostly from my working days.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Shanghai.html" class="gall_item"><img
          src="https://i.postimg.cc/fyp644j7/IMG-20201001-102547.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Shanghai.html">Shanghai</a>
          <p>My trip to Shanghai. I have been to Shanghai twice. Shanghai: few cities in the world evoke so much history,
            excess, glamour, mystique and exotic promise in name alone. </p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Chongqing.html" class="gall_item"><img
          src="https://i.postimg.cc/hG2T1t6R/IMG-5050.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Chongqing.html">Chongqing</a>
          <p>My trip to Chongqing. One of the most important city in western China.
            Chongqing makes up for a lack of top-notch sights with fantastic food and charismatic geography.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Guanshan.html" class="gall_item"><img
          src="https://i.postimg.cc/T3wfnQL6/IMG-20220618-171550.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Guanshan.html">Guanshan ranch</a>
          <p>My trip to Guanshan ranch. I went here with my colleagues from Huawei. We rode horses and archery
            here together, and in the evening we had a bonfire party.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Chengdu.html" class="gall_item"><img
          src="https://i.postimg.cc/P5HR1qCn/IMG-20210515-103040.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Chengdu.html">Chengdu</a>
          <p>My trip to Chengdu. I also went here with my colleagues from Huawei. Chengdu is the hometown of giant pandas.
            We mainly visited the panda breeding base here.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/Qingdao.html" class="gall_item"><img
          src="https://i.postimg.cc/Px4XkqPW/IMG-20210404-122517.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/Qingdao.html">Qingdao</a>
          <p>My trip to Qingdao. Combining fresh sea air and dashing good looks, Qīngdǎo – the name means 'Green Island' in Chinese.
            It's a beautiful seaside city in Shandong province.</p>
        </div>
      </div>
    </div>

    <div class="grid_glr">
      <div class="box">
        <a href="{{site.url}}{{site.baseurl}}/gallery/MountHua.html" class="gall_item"><img
          src="https://i.postimg.cc/LXxnwgDG/IMG-2779.jpg"
          alt="China"></a>
        <div class="box_bot">
          <a class="box_bot_title" href="{{site.url}}{{site.baseurl}}/gallery/MountHua.html">Mount Hua</a>
          <p>My trip to Mount Hua. It is a famous mountain in China. I hiked Mount Hua with my friends at night.
            We started hiking at 11pm and reached the top at 6am the next morning.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=0&t=n&d=tFPNVjzmq3bY_8MFR09qo4kNZoQYvFyUEpol9eZSsvI' style="display:none;" alt="ip"/>
